* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

*:selection {
  background: #722E42;
}

body {
    background-image: url('.//bground.jpg');
    background-size: cover;
}

.box {
    margin: auto;
    width: 300px;
    padding: 30px;
    transform: translateY(20%);
    text-align: center;
    background-color: #172845;
    border-radius: 30px;
}

.box input[type="text"], .box input[type="password"] {
    border: 0;
    background: none;
    margin: 30px auto;
    text-align: center;
    display: block;
    border: 2px solid #253f6b;
    border-radius: 30px;
    padding: 10px 0px 10px 0px;
    font-size: 13pt;
    color: white;
    transition: width .15s ease-in .15s;
    transition: border-color .2s ease-in .2s;
}

.box h1 {
    padding-bottom: 15px;
    letter-spacing: 7px;
    font-size: 20px;
    background: -webkit-linear-gradient(#6ea3ff,#3f7eeb);
    -webkit-background-clip:text;
    font-family: arial;
    color: #fff;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 300px;
    border-color: #3f7eeb;

}

.box input[type="submit"], .box input[type="file"] {
    background: none;
    border: none;
    padding: 5px 5px 5px 5px;
    color: #3f7eeb;
    font-family: comic-sans;
    font-size: 18pt;
    transition: background-color .2s ease-in .2s;
    
}


.box input[type="submit"]:hover, .box input[type="file"]:hover {
    border: 2px solid #6ea3ff;
    border-radius: 30px;
    background-color: #253f6b;
}

.box input[type="submit"]:active:after, .box input[type="file"]:active:after{
    background-color: #6ea3ff;
}

.section {
    margin: auto;
    width: 300px;
    padding: 30px;
    transform: translateY(40%);
    text-align: center;
    background-color: #172845;
    border-radius: 30px;
}

.section h1 {
    font-size: 20pt;
    background: -webkit-linear-gradient(#6ea3ff,#3f7eeb);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.section input[type="text"]:focus{
    width: 300px;
    border-color: #3f7eeb;

}

.section input[type="submit"]{
    background: none;
    border: none;
    padding: 5px 5px 5px 5px;
    color: #3f7eeb;
    font-family: comic-sans;
    font-size: 15pt;
    transition: background-color .2s ease-in .2s;
    
}


.section input[type="submit"]:hover{
    border: 2px solid #6ea3ff;
    border-radius: 30px;
    background-color: #253f6b;
}

.section input[type="submit"]:active:after{
    background-color: #6ea3ff;
}

/* ------------------ HEADER ---------------------------*/
.logo {
    padding-left: 15px;
    width: 100px;
    height:100%;
    background-color: #1E1F26;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    cursor: pointer;
}
nav{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    background-color: #1E1F26;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

nav ul li {

    list-style: none;
    line-height: 60px;
}

nav ul li a{
    font-weight: bold;
    display: block;
    height:100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-size: 14px;
}
nav ul li a:hover{
    background-color: #2E735E;
}

nav ul li ul{
    transition: all 0.3s ease-in-out;
    text-align:center;
    display: none;
    position: absolute;
    background-color: #1E1F26;
    padding: 5px;
    z-index: 1;
    border-radius: 0px 0px 4px 4px; 
}

nav ul li:hover ul{
    background-color: #2E735E;
    display: block;
}

nav ul li ul li{
    align-content: center;
    white-space:nowrap;
    width: 180px;
    border-radius: 4px; 
}


nav ul li ul li a{
    padding: 8px 14px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

nav ul li ul li:hover a{
    background-color: #145944;
    border-radius: 4px;
}
    
